html {
    margin: 0;
    padding: 0;
}

body {
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
    background: #999;    
    font-family: Helvetica;
}

h1 {
    text-align: center;
}

#usersapp {
    margin: 30px auto;
    padding: 0;
    list-style: none;
    background: #ddd;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
                0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

#usersapp table {
    width: 100%;
    margin: 0;
    border-spacing: 0;
}

#usersapp th {
    margin: 0;
    background-color: #aaa;
    padding: 10px 0 10px 10px;
    text-align: left;
}

#usersapp table td {
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid #aaa;
}

#usersapp table tbody tr:last-child td {
    padding: 20px 20px 10px 10px;
}

#usersapp input, label {
    font-size: 20px;
}

#usersapp input[type="checkbox"] {
    margin-left: 10px;
}
